<h1>To-Do List</h1>

<h2>Tasks to do</h2>

<ul>
  {{#each toDoList}}
    {{#unless isDone}}
      <li>
        {{itemName}}

        <form action="list/update/{{id}}?" method="POST">
          
          <button name="isDone" value="true" type="submit">Done!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Tasks that are done</h2>

<ul>
  {{#each toDoList}}
    {{#if isDone}}
      <li>
        {{itemName}}
        
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a task</h2>

 <form action="list/create/{{id}}?_method=PUT" method="POST">

    <label>New task:</label>
     <input type="hidden" name="isDone" value="false">
    <input type="text" name="itemName">

  <button type="submit">Add task</button>
</form>